/*------------------------------------------------------------------
[1. Global]
*/

.navbar {
	color: green;
}

.crud .container {
	max-width: 1000px
}

#content {
}

.main {
}

.panel-body-title {
	font-family: georgia;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	margin-top: 0;
	margin-bottom: 30px;
}

.head-title {
	margin: 0;
	padding: 0;
	font-family: georgia;
}

.hr-head-title {
	padding: 0;
	margin: 0 0 25px 0;
}

/* Login css */
.form-signin
{
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
	margin-bottom: 10px;
	margin-left: 20px;
}
.form-signin .checkbox
{
	font-weight: normal;
}
.form-signin .form-control
{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus
{
	z-index: 2;
}
.form-signin input[type="text"]
{
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall
{
	margin-top: 20px;
	padding: 40px 0px 20px 0px;
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
	color: #555;
	font-size: 18px;
	font-weight: 400;
	display: block;
}
.profile-img
{
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.need-help
{
	margin-top: 10px;
}
.new-account
{
	display: block;
	margin-top: 10px;
}


/* Helper */
.input-25 {
	width: 25%;
}

.input-50 {
	width: 50%;
}

.input-75 {
	width: 75%;
}

.field-required {
	color: #ff0000;
}

/* Mandatory field */
.control-label.required:after {
	content: " *";
	color: #ff0000;
	font-size: 14px;
}